.blog {
    width: 100%;
    padding-top: 50px;
    background-color: #fff;
}

.blog__box {
    max-width: 940px;
    margin: 0 auto;
}

.blog__title {
    max-width: 600px;
    font-size: 3.25rem;
    color: #444;
    margin-bottom: 65px;
}


.accent {
    color: #F55F39;
    border-bottom: 4px solid #F55F39;
}  

.block-fotos {
    display: flex;
    gap: 15px;
    margin-bottom: 100px;
}

.fotographier .fotogr {
    width: 1100px;  
    height: 660px;
    display: block;
    justify-self: center;
    box-shadow: 14px 14px 0 80px #000 40%;
    margin-bottom: -213px;
}

.offer {
    width: 100%;
    height: 1193px;
    background-image: url(../images/bg/bgfon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 280px
}

.offer__text {
    max-width: 900px;
    height: 600px;
    margin: 0 auto;
}

.offer__title {
    color: #fff;
    text-align: center;
    font-size: 3.25rem;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 37px;
}

.wrapper {
    max-width: 903px;
    height: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 70px;
}

.tarif-month {
    background-color: #fff;
    opacity: 90%;
    max-width: 287px;
    height: 429px;
    padding-left: 41px; 
    padding-top: 41px;
    padding-right: 41px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    filter: drop-shadow (7px 7px 0 40px rgba(0, 0, 0, 0.3));
    margin-top: 25px;
}

.tarif-year {
    background-color: #fff;
    max-width: 100%;
    height: 469px;
    padding-left: 41px; 
    padding-top: 41px;
    padding-right: 41px;
    border: 1px solid #FFF 20%;
    box-shadow: 7px 7px 0 40px #000 70%;
}

.title__tarif {
    font-size: 0.9rem;
    color: #183EB6;
    margin-bottom: 14px;
    letter-spacing: 0;
    line-height: 1.3;
}

.title__inner {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.tarif__subtitle {
    display: flex;
    gap: 2px;
    color: #000;
    font-size: 3.25rem;
    letter-spacing: 0;
}

.path2 {
    font-size: 0.875rem;
    color: #000;
}

.point {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.point:last-of-type {
    margin-bottom: 13px;
}

.tarif__stroke {
    line-height: 1.5;
    font-size: 0.75rem;
    color: #000;
    padding-top: 10px;
    margin-bottom: 10px;
}

.btn-tarif {
    width: 112px;
    height: 47px;
    background-color: #2BCA8B;
    font-size: 0.875rem;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 20px;
}

.description {
    font-size: 0.75rem;
    color: #9DA0AC;
}

.btn__tarif-year {
    width: 112px;
    height: 47px;
    background-color: #F55F39;
    font-size: 0.875rem;
    letter-spacing: 0;
    color: #fff;
    margin-bottom: 20px;
}

.offer__bottom {
    margin-left: 65px;
}

.icon__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
}


.icon__descr {
    font-size: 21px;
    line-height: 23px;
    color: #fff;
    letter-spacing: 0;
}

.bottom__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom__link a {
    font-size: 0.85rem;
    color: #fff;
    opacity: 80%;
    letter-spacing: 0;
    line-height: 23px;
}

.fish-text {
    max-width: 477px;
    font-size: 0.75rem;
    color: #fff;
    line-height: 21px;

}

.create {
    width: 720px;
    height: 754px;
    background-color: #fff;
    margin-top: -70px;
    padding-top: 55px;
}

.last {
    max-width: 1440px;
    display: flex;
}


.create__host {
    width: 460px;
    height: 570px;
    background-image: url(../images/bg/smallbg.png );
    
}

.create__title {
    margin-left: 205px;
}