
@import "./main.css";
@import "./footer.css";
@import "./reset.css";

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: relative;
    width: 100%;
}

.header__container {
    width: 100%;
    height: 700px;
    background-image: url(../images/bg/headerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box__logo {
    position: absolute;
    margin-left: 560px;
}

.header__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
    height: 79px;
}

.box__menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.nav__menu {
    display: flex;
    gap: 15px;
}

.form {
    border: 2px solid #B8B9C9;
    display: flex;
    justify-content: end;
    height: 42px;
    align-items: center;
    width: 390px;
    margin: 19px 0 auto 300px;
}

.search__icon {
    margin-right: 20px;
    width: 24px;
    height: 21px;
}

.nav__home {
    width: 22px;
    height: 19.6px;
}

.link  {
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1.9;
    color: #222;
}

.search-button {
    width: 137px;
    height: 42px;
    background-color: #B8B9C9;
    border-radius: 0 3px 3px 0;
    color: #E0E0E0;
    font-size: 0.875rem;
    letter-spacing: 0;
}

.meet {
    width: 550px;
    height: 320px;
    margin-left: 610px;
    margin-top: -90px;
} 

.header__bottom {
    display: flex;
}

.header__title {
    color: #444444;
    font-size: 3rem;
    line-height: 1.3;
}

.header__title span {
    color: #2bCA8B;
    letter-spacing: 0%;
    font-size: 3rem;
    line-height: 1.3;
}

.text-block {
    width: 500px;
    height: 370px;
    margin-top: 50px;
    margin-left: 69px;
}

.header__title span {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: disc;
}



