@use 'header';
@use 'main';
@use 'footer';

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header__container {
    max-width: 1440px;
    height: 700px;
    background-image: url(../images/bg/headerbg.png);
}